body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* navbar */
.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    color: white;
}
.nav-link {
    display: flex;
    gap: 10px;
}
.nav-link p {
    margin: 0;
    display: inline-flex;
    align-items: center;
}

.nav-link a:link {
    color: white;
    text-decoration: none;
}
.nav-link a:visited {
    color: white;
}
.nav-link a:hover {
    color: black;
}
.nav-link a:active {
    color: white;
}

header {
    background-image: url(img/pizzakep.jpg);
    background-size: cover;
    height: 500px;
    background-position: center;
}

/* PIEDINA történet rész */
.tortenet {
    background-color: #2b2b2b;
    color: white;
    display: flex;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.tortenet-bal-oldal {
    width: 25%;
    text-align: right;
}

.tortenet-bal-oldal h2 {
    font-size: 30px;
}

.alcim {
    font-size: 20px;
    letter-spacing: 2px;
    color:dimgray;
}

.tortenet-jobb-oldal {
    width: 65%;
    text-align: left;
}

.tortenet-jobb-oldal p {
    font-size: 20px;
    margin-bottom: 25px;
}

.foglalas {
    font-size: 28px;
    margin-top: 25px;
}

.leiras {
    color: darkgray;
}

/* Menü rész */

.menu-resz {
    background-color: black; 
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
    text-align: center;
}

.menu-belso {
    max-width: 800px;
    margin: 0 auto;
}

.menu-cim {
    font-size: 30px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.menu-alcim {
    font-size: 20px;
    margin-bottom: 30px;
    color: #ccc;
}

.menu-content {
    color: #d0d0d0;
    line-height: 1.6;
    margin-bottom: 40px;
    font-size: 20px;
}

.menu-gombok {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu-btn {
    border: 1px solid #fff;
    padding: 10px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 0.2s;
}

.menu-btn:hover {
    background-color: #fff;
    color: #000;
}

/* Specialításaink rész */
.specialis {
    text-align: center;
    padding: 60px 0;
    color: #eee;
    background-color: #2b2b2b;
}
 
.specialis h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
 
.specialis p {
    font-size: 20px;
    margin-bottom: 30px;
    color: gray;
}
 
.grid {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 30px;
}
 
.item {
    position: relative;
    overflow: hidden;
}
 
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease;
}
 
.item span {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    color:white;
    padding: 6px 12px;
    border-radius: 4px;
}
 
/* Nagy bal oldali pizza */
.item.big {
    grid-column: span 2;
    grid-row: span 2;
}
 
/* Jobb oldali magas steak */
.item.tall {
    grid-row: span 2;
    margin-bottom: -60px;
}
 
.item.eloetel {
    margin-top: 60px;
    margin-bottom: -30px;
}


/* FOOTER rész */
.footer {
    background-color: #181818;
    color: #ccc;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: Arial, sans-serif;
}

#szeretettel {
    text-align: end;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    width: 30%;
    line-height: 1.7;
}

.footer-column h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.footer-column p {
    border-bottom: 1px solid #333;
    padding: 8px 0;
    margin: 0;
    font-size: 20px;
}
.footer-column p:last-child {
    border-bottom: none;
}

.reserve-btn {
    color: white;
    text-decoration: underline;
    margin-top: 10px;
    display: inline-block;
    font-size: 30px;
}

.footer-bottom {
    border-top: 1px solid #333;
    margin-top: 60px;
    padding-top: 20px;
    text-align: center;
    font-size: 15px;
    color: gray;
}





/* Reszponzivitas */

.hamburger {
    display: none;
    font-size: 32px;
    cursor: pointer;
    color: white;
}

/* MOBIL MENÜ */
.mobile-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;       /* >>> JOBB OLDAL <<< */
    width: 200px;   /* keskeny, jobb oldali menü */
    background-color: rgba(0,0,0,0.95);
    padding: 10px 0;
    flex-direction: column;
    text-align: left;
    z-index: 9999;

    /* animáció */
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

/* amikor megnyílik */
.mobile-menu.open {
    display: flex;
    transform: translateX(0);
}

.mobile-menu a {
    color: white;
    padding: 12px 20px;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #333;
}

@media(max-width: 1024px) {
    .nav-link {
        display: none;
    }

    .hamburger {
        display: block;
        text-align: right;
    }
    .footer{
        padding: 10px;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .menu-resz {
        padding: 10px;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .specialis {
        padding: 10px;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    * {
        max-width: 100%;
    }
}

/* MOBIL */
@media(max-width: 600px) {

    header {
        height: 300px;
        background-position: center;
    }

    .nav-items h1 {
        font-size: 18px;
    }


    .tortenet {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 20px;
        text-align: center;
    }

    .tortenet-bal-oldal, 
    .tortenet-jobb-oldal {
        width: 100%;
    }

    .alcim {
        margin-left: 0;
    }

    .tortenet-jobb-oldal p {
        font-size: 15px;
    }


    .menu-resz {
        padding-top: 60px;
        padding-bottom: 20px;
    }

    .menu-gombok {
        flex-direction: column;
        gap: 15px;
    }

    .menu-btn {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        padding: 12px 0;
    }


    .grid {
        grid-template-columns: 1fr !important;
        grid-auto-rows: auto;
        gap: 25px;
    }

    .item.big,
    .item.tall,
    .item.eloetel {
        grid-column: span 1 !important;
        grid-row: span 1 !important;
        margin: 0 !important;
    }

    .item img {
        height: 260px;
    }

    .item span {
        bottom: 10px;
        font-size: 14px;
    }


    .footer {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .footer-column {
        width: 100%;
    }

    .footer-column p {
        border: none;
    }

    .footer-bottom {
        font-size: 12px;
    }
}
