body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* navbar */
.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
}
.nav-link {
    display: flex;
    gap: 10px;
}
.nav-link p {
    margin: 0;
}
.nav-link a:link {
    color: white;
}
header {
    background-image: url(img/pizzakep.jpg);
    background-size: cover;
    height: 500px;
    background-position: center;
}

/* PIEDINA történet */
.tortenet {
    background-color: #2b2b2b;
    color: white;
    display: flex;
    gap: 20px;
    padding: 30px 40px;
}

.tortenet-bal-oldal {
    width: 25%;
}

.tortenet-bal-oldal h2 {
    font-size: 26px;
}

.alcim {
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 8px;
    margin-left: 120px;
    color:dimgray;
}

.tortenet-jobb-oldal {
    width: 65%;
}

.tortenet-jobb-oldal p {
    font-size: 16px;
    margin-bottom: 25px;
}

.foglalas {
    font-size: 18px;
    margin-top: 25px;
}

.leiras {
    color: gray;
}