body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* navbar */
.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
}
.nav-link {
    display: flex;
    gap: 10px;
}
.nav-link p {
    margin: 0;
    display: inline-flex;
    align-items: center;
}

.nav-link a:link {
    color: white;
    text-decoration: none;
}
.nav-link a:visited {
    color: white;
}
.nav-link a:hover {
    color: black;
}
.nav-link a:active {
    color: white;
}

header {
    background-image: url(img/pizzakep.jpg);
    background-size: cover;
    height: 500px;
    background-position: center;
}

/* PIEDINA történet rész */
.tortenet {
    background-color: #2b2b2b;
    color: white;
    display: flex;
    gap: 20px;
    padding: 90px 140px;
}

.tortenet-bal-oldal {
    width: 25%;
}

.tortenet-bal-oldal h2 {
    font-size: 26px;
}

.alcim {
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 8px;
    margin-left: 120px;
    color:dimgray;
}

.tortenet-jobb-oldal {
    width: 65%;
}

.tortenet-jobb-oldal p {
    font-size: 16px;
    margin-bottom: 25px;
}

.foglalas {
    font-size: 18px;
    margin-top: 25px;
}

.leiras {
    color: darkgray;
}

/* Menü rész */

.menu-resz {
    background-color: black; 
    padding: 80px 40px;
    color: #ffffff;
    text-align: center;
}

.menu-belso {
    max-width: 800px;
    margin: 0 auto;
}

.menu-cim {
    font-size: 26px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.menu-alcim {
    font-size: 16px;
    margin-bottom: 30px;
    color: #ccc;
}

.menu-content {
    color: #d0d0d0;
    line-height: 1.6;
    margin-bottom: 40px;
}

.menu-gombok {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu-btn {
    border: 1px solid #fff;
    padding: 10px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: 0.2s;
}

.menu-btn:hover {
    background-color: #fff;
    color: #000;
}

/* Specialításaink rész */
.specialis {
    text-align: center;
    padding: 60px 0;
    color: #eee;
    background-color: #2b2b2b;
}

.specialis h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.specialis p {
    font-size: 18px;
    margin-bottom: 30px;
    color: gray;
}

.grid {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 40px;
}

.item {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease;
}

.item span {
    position: absolute;
    bottom: 15px; 
    left: 50%; 
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    white-space: nowrap;
}

/* Nagy bal oldali pizza */
.item.big {
    grid-column: span 2;
    grid-row: span 2;
}

/* Jobb oldali magas steak */
.item.tall {
    grid-row: span 2;
    margin-bottom: -60px;
}

.item.eloetel {
    margin-top: 60px;
}


/* FOOTER rész */
.footer {
    background-color: #181818;
    color: #ccc;
    padding: 60px 40px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    width: 30%;
    line-height: 1.7;
}

.footer-column h3 {
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-column p {
    border-bottom: 1px solid #333;
    padding: 8px 0;
    margin: 0;
}
.footer-column p:last-child {
    border-bottom: none;
}

.reserve-btn {
    color: white;
    text-decoration: underline;
    margin-top: 10px;
    display: inline-block;
}

.footer-bottom {
    border-top: 1px solid #333;
    margin-top: 60px;
    padding-top: 20px;
    text-align: center;
    font-size: 13px;
    color: #777;
}






/* Reszponzivitas */

@media(max-width: 900px) {
    .tortenet {
        flex-direction: column;
        padding: 40px 20px;
        padding: 40px 20px;
    }

    .tortenet-bal-oldal,
    .tortenet-jobb-oldal {
        width: 100%;
    }

    .alcim {
        margin-left: 0; 
        text-align: left;
    }
}

@media(max-width: 600px) {
    .menu-gombok {
        flex-direction: column;
        gap: 15px;
    }

    .menu-btn {
        display: block;
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        padding: 10px 20px;
    }
}
@media(max-width: 768px) {
    header {
        height: 300px;
    }
}
